body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-size: 2em;
    color: #0057b7; /* Tono azul */
}

.filter-form {
    background-color: #e0f7fa; /* Tono celeste */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #007bb5; /* Tono azul */
}

select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bb5; /* Tono azul */
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0057b7; /* Tono azul oscuro */
}

#results {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #007bb5; /* Tono azul */
    color: white;
}

td {
    background-color: #f9f9f9;
}

@media (max-width: 600px) {
    .filter-form, #results {
        padding: 10px;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        margin-bottom: 15px;
    }

    td {
        display: flex;
        justify-content: space-between;
        padding: 10px 5px;
        text-align: right;
        border-bottom: 1px solid #eee;
    }

    td::before {
        content: attr(data-label);
        flex-basis: 50%;
        text-align: left;
        font-weight: bold;
        color: #007bb5; /* Tono azul */
    }
}

.info-text {
    display: block;
    font-size: 0.9em;
    color: #555;
    margin-bottom: 15px;
    background-color: #e7f3ff;
    padding: 10px;
    border-left: 4px solid #004080;
}
